<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayPhoneGrid</title>
    <style>
        .phone-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }

        .phone-image {
            margin-bottom: 20px;
        }

        .phone-item {
            border: 1px solid #ccc;
            padding: 10px;
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s;
        }

        .clickable{
            text-decoration: none;
            color: inherit;
        }

        .phone-item:hover {
            transform: scale(1.05);
        }

        .phone-item:hover .title {
            color: inherit;
            color: black;
        }

        .title {
            font-size: 15px;
            color: black;
        }

        .price {
            color: green;
        }

        .buttons {
            margin-top: auto;
            display: flex;
            flex-direction: row;
        }

            .buttons form {
                margin-right: 10px;
            }

        .add {
            background-color: white;
            border-color: lightskyblue;
            color: blue;
            border-radius: 10px;
            font-weight: 600;
        }

        .remove {
            background-color: white;
            border-color: lightcoral;
            color: red;
            border-radius: 10px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Favorite</h1>
        <br/>
    </div>
    <div class="phone-grid">

        @if (Model.Count > 0)
        {
            @foreach (var phone in Model)
            {
                <div class="phone-item">
                    <a class="clickable" href="/Phones/Details/@phone.ArtNr">
                        <img class="phone-image" src="@phone.ImageUrl" />
                        <h2 class="title">@phone.Title</h2>
                        <p class="price">$@phone.Price</p>
                    </a>

                    <div class="buttons">
                        <form method="post" action="/Favorite/RemovePhoneFromFavorites">
                            <input type="hidden" name="ArtNr" value="@phone.ArtNr" />
                            <button class="remove" type="submit">Remove from Favorites</button>
                        </form>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="text-center">
                <p class="no-items-message">No items found. Visit <a href="/Phones/DisplayPhonesGrid">Phones</a> to add items to the list.</p>
            </div>
        }

    </div>
</body>
</html>
