@model List<Leapy.Data.DataModels.Book>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayBooksGrid</title>
    <style>
        .book-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }

        .book-item {
            border: 1px solid #ccc;
            padding: 10px;
        }
        .price {
            color: green;
        }
    </style>
</head>
<body>
    <div class="book-grid">

        @foreach (var book in Model)
        {
            <div class="book-item">
                <img class="book-image" src="@book.ImageUrl" />
                <h2>@book.Title</h2>
                <p class="price">$@book.Price</p>
            </div>
        }
    </div>
</body>
</html>