@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hallo</h1>
    <p>Learn about <a href="https://cdn.discordapp.com/attachments/1072088170927243298/1076531133661069352/Trollface_non-free.png">deez bruh</a>.</p>
</div>
