@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a href="https://cdn.discordapp.com/attachments/1072088170927243298/1080818305713045604/miel-monteur-en-hond-rifka-1024x606.png"> Millie Monteurie </a>
