@model Leapy.Data.DataModels.PhoneDTO
@{
    var phone = Model;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phone Details</title>
    <style>
    </style>
</head>
<body>

    <div>
        <div style="float: left; margin-right: 20px;">
            <img src="@phone.ImageUrl" alt="Product Image" style="width: 200px;">
        </div>
        <div>
            <h2>@phone.Title</h2>
            <p>Price: $@phone.Price</p>
            <form method="post" action="/Favorite/AddPhoneToFavorites">
                <input type="hidden" name="ArtNr" value="@phone.ArtNr" />
                <button type="submit">Add to Favorites</button>
            </form>
        </div>
    </div>
</body>
</html>
