@model List<Leapy.Data.DataModels.PhoneDTO>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayPhoneGrid</title>
    <style>
        .phone-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }

        .phone-image {
            margin-bottom: 20px;
        }
        .phone-item {
            border: 1px solid #ccc;
            padding: 10px;
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s;
        }

        .phone-item:hover {
            transform: scale(1.05);
        }

        .phone-item:hover .title {
            color: inherit;
            color: black;
        }
        .title {
            font-size: 15px;
            color: black;
        }

        .price {
            color: green;
        }
    </style>
</head>
<body>
    <div class="phone-grid">
        @foreach (var phone in Model)
        {
            <a href="/Phones/Details/@phone.ArtNr" class="phone-item">
                <img class="phone-image" src="@phone.ImageUrl" />
                <h2 class="title">@phone.Title</h2>
                <p class="price">$@phone.Price</p>
            </a>
        }
    </div>
</body>
</html>